## Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. 

You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [1]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [3]:
#Cunnecting the web Driver
driver=webdriver.Chrome(r'F:\chromedriver.exe')
url='https://www.naukri.com/'
driver.get(url)

In [4]:
# Find web element for search bar using class name
search_job = driver.find_element(By.CLASS_NAME,'suggestor-input')
search_job

In [5]:
#write on search bar
search_job.send_keys("Data Analyst")

In [6]:
#Finding web element for search location bar using relative Xpath 
search_loc = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_loc

In [7]:
#finding web element for job locatin bar
search_loc.send_keys("Bangalore")

In [8]:
#clicking using web absolute xpath function 
search_btn=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_btn

In [9]:
search_btn.click()

## Extracting Job Titles

In [25]:
#extract all the web element having job titles
title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [49]:
#now the job title is inside the web element , we will run a for loop to extract.
job_titles = []

for i in title_tags:
    job_titles.append(i.text)
len(job_titles)

20

## Extracting Company Name

In [37]:
#extract all the web element having company
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [39]:
#now the company name is inside the web element , we will run a for loop to extract.
company_names = []

for i in company_tags:
    company_names.append(i.text)
len(company_names)

20

## extrating job location

In [42]:
#extract all the web element having location
loc_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tags)

20

In [43]:
#now the job location is inside the web element , we will run a for loop to extract.
job_loc = []

for i in loc_tags:
    job_loc.append(i.text)
len(job_loc)

20

## extracting experience

In [54]:
#extract all the web element having experience
exp_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tags)

20

In [55]:
#now the experience is inside the web element , we will run a for loop to extract.
experience = []

for i in exp_tags:
    experience.append(i.text)
len(experience)

20

In [56]:
len(job_titles),len(job_loc),len(company_names),len(experience)

(20, 20, 20, 20)

In [58]:
jobs=pd.DataFrame()
jobs['Job Title']=job_titles
jobs['Job Location']=job_loc
jobs['Experience']=experience
jobs['Company Names']=company_names
jobs.head(10)

,Job Title,Job Location,Experience,Company Names
0,Sr.Business Data Analyst,"Bangalore/Bengaluru, karnataka\n(WFH during Co...",6-11 Yrs,Collabera
1,Sr Data Analyst,Bangalore/Bengaluru,5-8 Yrs,Thomson Reuters
2,Senior Data Analysis Analyst,"Bangalore/Bengaluru, Pune, Chennai",7-12 Yrs,Capco
3,Data Analyst,Bangalore/Bengaluru,2-3 Yrs,Thomson Reuters
4,Data Analyst/Senior Data Analyst,Bangalore/Bengaluru,3-6 Yrs,Meesho
5,Financial Data Analyst,Bangalore/Bengaluru,3-8 Yrs,Nuance India
6,Data Analyst II,Bangalore/Bengaluru,2-4 Yrs,Cerner
7,Senior Data Analyst II,Bangalore/Bengaluru,3-6 Yrs,Flipkart
8,Senior Data Management Analyst,Bangalore/Bengaluru,4-7 Yrs,Wells Fargo
9,Data Analyst - CRM Platform,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",1-6 Yrs,Artech infosystem

## Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [70]:
#Cunnecting the web Driver
driver=webdriver.Chrome(r'F:\chromedriver.exe')
url='https://www.naukri.com/'
driver.get(url)

In [71]:
# Find web element for search bar using class name
search_job = driver.find_element(By.CLASS_NAME,'suggestor-input')
search_job

In [72]:
#write on search bar
search_job.send_keys("Data Scientist")

In [73]:
#Finding web element for search location bar using relative Xpath 
search_loc = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_loc

In [74]:
#finding web element for job locatin bar
search_loc.send_keys("Bangalore")

In [75]:
#clicking using web absolute xpath function 
search_btn=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_btn

In [76]:
search_btn.click()

### Extracting Job Titles

In [77]:
#extract all the web element having job titles
title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [78]:
#now the job title is inside the web element , we will run a for loop to extract.
job_titles = []

for i in title_tags:
    job_titles.append(i.text)
len(job_titles)

20

## extrating job location

In [79]:
#extract all the web element having location
loc_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tags)

20

In [80]:
#now the job location is inside the web element , we will run a for loop to extract.
job_loc = []

for i in loc_tags:
    job_loc.append(i.text)
len(job_loc)

20

## Extracting Company Name

In [84]:
#extract all the web element having company
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [85]:
#now the company name is inside the web element , we will run a for loop to extract.
company_names = []

for i in company_tags:
    company_names.append(i.text)
len(company_names)

20

In [86]:
jobs=pd.DataFrame()
jobs['Job Title']=job_titles
jobs['Job Location']=job_loc
jobs['Company Names']=company_names
jobs.head(10)

,Job Title,Job Location,Company Names
0,Data Scientist/ Senior Data Scientist,"Bangalore/Bengaluru, Pune, Gurgaon/Gurugram, C...",Fractal Analytics
1,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro
2,Dataiku Consultant,"Bangalore/Bengaluru, Pune, Chennai",Wipro
3,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM
4,Research Scientist,Bangalore/Bengaluru,IBM
5,Data Science - Senior Data Scientist - Analytics,"Bangalore/Bengaluru, Noida",Paytm
6,Principal - Data Scientist,Bangalore/Bengaluru,Schneider Electric
7,Research and Development -AI/ML -(PhD ),"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",EXL
8,Opportunity For Data Scientist - Female Candid...,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ...",PayU
9,Senior Data Science Engineer,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ...",Fractal Analytics

## Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
1. You have to use the location and salary filter.
2. You have to scrape data for “Data Scientist” designation for first 10 job results.
3. You have to scrape the job-title, job-location, company name, experience required.
4. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [191]:
#Cunnecting the web Driver
driver=webdriver.Chrome(r'F:\chromedriver.exe')
url='https://www.naukri.com/'
driver.get(url)

In [192]:
# Find web element for search bar using class name
search_job = driver.find_element(By.CLASS_NAME,'suggestor-input')
search_job

In [193]:
#write on search bar
search_job.send_keys("Data Scientist")

In [196]:
#clicking using web absolute xpath function 
search_btn=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_btn

In [197]:
#clicking on search botton
search_btn.click()

In [198]:
#checking the salary range 
salary_check=driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]/label/i")

In [199]:
salary_check.click()

In [200]:
#checking the Location range 
location_check=driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[3]/label/i")
location_check.click()

### Extracting Job Titles

In [201]:
#extract all the web element having job titles
title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [202]:
#now the job title is inside the web element , we will run a for loop to extract.
job_titles = []

for i in title_tags:
    job_titles.append(i.text)
len(job_titles)

20

## extrating job location

In [203]:
#extract all the web element having location
loc_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tags)

20

In [204]:
#now the job location is inside the web element , we will run a for loop to extract.
job_loc = []

for i in loc_tags:
    job_loc.append(i.text)
len(job_loc)

20

## Extracting Company Name

In [205]:
#extract all the web element having company
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [206]:
#now the company name is inside the web element , we will run a for loop to extract.
company_names = []

for i in company_tags:
    company_names.append(i.text)
len(company_names)

20

## extracting experience

In [207]:
#extract all the web element having experience
exp_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tags)

20

In [208]:
#now the experience is inside the web element , we will run a for loop to extract.
experience = []

for i in exp_tags:
    experience.append(i.text)
len(experience)

20

In [209]:
jobs=pd.DataFrame()
jobs['Job Title']=job_titles
jobs['Job Location']=job_loc
jobs['Experience']=experience
jobs['Company Names']=company_names
jobs.head(10)

,Job Title,Job Location,Experience,Company Names
0,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",2-5 Yrs,Boston Consulting Group
1,Senior Associate - Data Science,"Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugr...",4-7 Yrs,Black Turtle
2,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",5-10 Yrs,EXL
3,Data Scientist - Machine learning AI,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ...",3-8 Yrs,Teq Analytics
4,Data Scientist - MIND Infotech,Noida,4-8 Yrs,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED
5,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",1-3 Yrs,Primo Hiring
6,Data Scientist,"Delhi / NCR, Pune, Bangalore/Bengaluru",2-4 Yrs,Mount Talent Consulting Private Limited
7,Data Scientist,"Delhi / NCR, Pune, Bangalore/Bengaluru",2-4 Yrs,Mount Talent Consulting Private Limited
8,Data Scientist,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ...",3-8 Yrs,Sydata Consulting India Pvt Ltd
9,Data Scientist - Internet Jobs - II,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ...",3-6 Yrs,Jobs Territory

## Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount
The attributes which you have to scrape is ticked marked in the below image.


To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.

In [276]:
#Cunnecting the web Driver
driver=webdriver.Chrome(r'F:\chromedriver.exe')
url='https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off'
driver.get(url)

In [277]:
# Find web element for search bar using class name
search_bar = driver.find_element(By.CLASS_NAME,'_3704LK')
search_bar

In [278]:
#write on search bar
search_bar.send_keys("sunglasses")

In [279]:
#clicking using web absolute xpath function 
search_btn=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_btn

In [280]:
#clicking on search botton
search_btn.click()

In [282]:
page_url=[]

url=driver.find_elements(By.XPATH,"//nav[@class='yFHi8N']//a")
for i in url:
    page_url.append(i.get_attribute('href'))
page_url=page_url[0:3]

In [283]:
# creating empty list to scraping data 

brand=[]
Description=[]
Price=[]
Discount=[] 

#Brand
for i in page_url:
    driver.get(i)
    titles_brand=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in titles_brand:
        brand.append(i.text)
        
#Prduct Discription        
    titles_Description=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for i in titles_Description:
        Description.append(i.text)

#Price
    titles_Price=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in titles_Price:
        Price.append(i.text)
        
#Discount    
    titles_Discount=driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']/span")
    for i in titles_Discount:
        Discount.append(i.text.replace("% off",""))

In [284]:
# creating dataframe for the first 100 sunglasses 

flipkart=pd.DataFrame({})
flipkart['Brand']=brand[0:100]
flipkart['Product Description']=Description[0:100]
flipkart['Price']=Price[0:100]
flipkart['Discount %']=Discount[0:100]

flipkart

,Brand,Product Description,Price,Discount %
0,DAHAAZIL,"UV Protection, Night Vision, Riding Glasses Wa...",₹177,82
1,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹639,20
2,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹264,89
3,VINCENT CHASE,"by Lenskart Polarized, UV Protection Rectangul...",₹749,62
4,Elligator,UV Protection Round Sunglasses (54),₹315,87
...,...,...,...,...
95,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",₹474,76
96,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (51)","₹1,099",45
97,Urbanic,Others Retro Square Sunglasses (Free Size),₹399,49
98,VINCENT CHASE,"by Lenskart Polarized, UV Protection Cat-eye S...",₹799,60
99,elegante,"Polarized, Riding Glasses, Night Vision Sports...",₹499,78

## Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
This task will be done in following steps:
1. First get the webpage https://www.flipkart.com/
2. Enter “iphone 11” in “Search” field .
3. Then click the search button.
You will reach to the below shown webpage .
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.
Note: All the steps required during scraping should be done through code only and not manually.

In [45]:
# open the webpage through our web driver
driver=webdriver.Chrome("chromedriver.exe")
driver.get("https://www.flipkart.com/")
b=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
b.click()

In [46]:
# click on search button
search_button=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search_button.click()

In [47]:
driver.get("https://www.flipkart.com/apple-iphone-11-white-64-gb/p/itmfc6a7091eb20b?pid=MOBFWQ6BVWVEH3XE&lid=LSTMOBFWQ6BVWVEH3XEB1SFMZ&marketplace=FLIPKART&q=iphone+11&store=tyy%2F4io&srno=s_1_1&otracker=search&otracker1=search&fm=organic&iid=ffcd465c-1c35-4a3b-8c2b-8d0bc138972c.MOBFWQ6BVWVEH3XE.SEARCH&ppt=hp&ppn=homepage&ssid=x6aouugn8w0000001654762626827&qH=f6cdfdaa9f3c23f3")
phone=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[6]/div/a/div')
phone.click()

In [49]:
# creating empty list to scraping data 
rating=[]
review_sum=[]
review_dis=[]
j=1
# extracting all the tags
def i_scrap():
    rate=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rate:
        rating.append(i.text)
    review=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review:
        review_sum.append(i.text)
    rdis=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in rdis:
        review_dis.append(i.text)
  #scraping i
next_b=driver.find_elements(By.CLASS_NAME,"ge-49M")
for b in next_b:
    i_scrap()
len(rating)

100

In [50]:
# creating dataframe for the first 100 reviews data from flipkart.com for iphone11 phone:
iphone_11=pd.DataFrame({'Rating':rating,'Review':review_sum,'Discription':review_dis})
iphone_11

,Rating,Review,Discription
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Highly recommended,What a camera .....just awesome ..you can feel...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Fabulous!,This is my first iOS phone. I am very happy wi...
96,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
97,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
98,4,Good choice,So far it’s been an AMAZING experience coming ...
99,5,Highly recommended,iphone 11 is a very good phone to buy only if ...

## Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes.

In [319]:
driver=webdriver.Chrome("chromedriver.exe")

driver.get("https://www.flipkart.com/")

In [321]:
# enter “sneakers” in “search for products, brands and more” field.
search_product = driver.find_element(By.XPATH,"//div[@class='_3OO5Xc']/input")
search_product.send_keys("sneakers")
# click the search button
search_btn = driver.find_element(By.XPATH,"//button[@class='L0Z3Pu']")
search_btn.click()

In [322]:
# specifying the url of the webpage to be scraped
url = "https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"

# open the webpage through our web driver
driver.get(url)

In [323]:
# iterating first 3 website pages to scrape the data

page_url=[]

url=driver.find_elements(By.XPATH,"//nav[@class='yFHi8N']//a")
for i in url:
    page_url.append(i.get_attribute('href'))
page_url=page_url[0:5]

In [324]:
# creating empty list to scraping data into them

brand=[]
Description=[]
Price=[]
Discount=[] 

# extracting all the tags

for i in page_url:
    driver.get(i)
    titles_brand=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in titles_brand:
        brand.append(i.text)
        
    titles_Description=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for i in titles_Description:
        Description.append(i.text)
        
    titles_Price=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in titles_Price:
        Price.append(i.text.replace("₹",""))
        
    titles_Discount=driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']/span")
    for i in titles_Discount:
        Discount.append(i.text.replace("% off",""))

In [325]:
# creating dataframe for the first 100 sneakers:

flipkart=pd.DataFrame({})
flipkart['Brand']=brand[0:100]
flipkart['Product Description']=Description[0:100]
flipkart['Price₹']=Price[0:100]
flipkart['Discount %']=Discount[0:100]

print("Top 100 sneakers listings on flipkart.com:\n")
flipkart

Top 100 sneakers listings on flipkart.com:

,Brand,Product Description,Price₹,Discount %
0,LE GREEM,Sneakers For Men,499,50
1,LOUIS PHILIPPE,Sneakers For Men,"2,399",40
2,WOODLAND,Modern Trendy Sneakers Shoes Sneakers For Men,"2,096",30
3,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,269,79
4,BRUTON,Sneakers For Men,299,76
...,...,...,...,...
95,HOTSTYLE,Men's Sneakers Fashion Lightweight Running Sho...,271,45
96,LE GREEM,Sneakers For Men,499,50
97,KNIGHT WALKERS,Stylish White Casual Walking Sneakers Shoes Fo...,648,56
98,Layasa,Canvas Casual Partywear Outdoor Sneakers Shoes...,499,50
99,ASIAN,X-Ray 2 Square Sneakers For Men,498,37

## Q7: Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image.

Note: Applying the filter and scraping the data, everything should be done through code only and there
should not be any manual step.

In [3]:
driver=webdriver.Chrome("chromedriver.exe")

driver.get("https://www.myntra.com/shoes")

In [4]:
# apply the Price filter to “Rs. 7149 to Rs. 14099” by checking the respective boxe

price = driver.find_elements(By.XPATH,"//ul[@class ='price-list']//label[@class ='common-customCheckbox vertical-filters-label']/div[@class = 'common-checkboxIndicator']") 
price[1].click()

In [5]:
# apply the Color filter to “Black”  by checking the box

color = driver.find_elements(By.XPATH,"//li[@class ='colour-listItem']//label[@class ='common-customCheckbox']/div[@class = 'common-checkboxIndicator']") 
color[0].click()

In [6]:
# specifying the url of the webpage to be scraped
url = "https://www.myntra.com/shoes?f=Color%3ABlack_36454f&rf=Price%3A7149.0_14099.0_7149.0%20TO%2014099.0"

# open the webpage through our web driver
driver.get(url)

In [10]:
# iterating first 3 website pages to scrape the data

page_url=[]

url=driver.find_elements(By.XPATH,"//li[@class='pagination-number']//a")
for i in url:
    page_url.append(i.get_attribute('href'))
page_url=page_url[0:2]

In [13]:
# creating empty list to scraping data into them

brand=[]
Description=[]
Price=[]

# extracting all the tags

for i in page_url:
    titles_brand=driver.find_elements(By.XPATH,"//h3[@class='product-brand']")
    for i in titles_brand:
        brand.append(i.text)
    
    titles_Description=driver.find_elements(By.XPATH,"//h4[@class='product-product']")
    for i in titles_Description:
        Description.append(i.text)
        
    titles_Price=driver.find_elements(By.XPATH,"//div[@class='product-price']")
    for i in titles_Price:
        Price.append(i.text)

In [14]:
# creating dataframe for the first 100 sneakers listings on myntra.com:

myntra =pd.DataFrame({})
myntra['Brand']=brand[0:100]
myntra['Shoe Description']=Description[0:100]
myntra['Price']=Price[0:100]

print("Top 100 sneakers listings on myntra.com:\n")
myntra

Top 100 sneakers listings on myntra.com:

,Brand,Shoe Description,Price
0,ASICS,Men GEL-Quantum 360 6 Sports,Rs. 13999
1,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8499Rs. 9999(15% OFF)
2,Geox,Women Ballerinas Flats,Rs. 9891Rs. 10990(10% OFF)
3,fitflop,Flatform Sandals with Buckles,Rs. 7499
4,Geox,Men Perforations Sneakers,Rs. 12591Rs. 13990(10% OFF)
...,...,...,...
95,fitflop,Embellished Leather Flatform Sandals,Rs. 7999
96,fitflop,Embellished PU Comfort Pumps,Rs. 7499
97,fitflop,Embellished Leather Wedge Sandals,Rs. 7499
98,Geox,Women Leather Slip-On Sneakers,Rs. 7693Rs. 10990(30% OFF)
99,Columbia,Women REDMOND V2 TrekkingShoe,Rs. 7999

In [15]:
#close the driver
driver.close()

## Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [16]:
driver=webdriver.Chrome("chromedriver.exe")

driver.get("https://www.amazon.in/")

In [17]:
# enter “laptop” in the search field.
search_product = driver.find_element(By.XPATH,"//div[@class='nav-search-field ']/input")
search_product.send_keys("laptop")

In [18]:
# click the search button
search_btn = driver.find_element(By.XPATH,"//div[@class='nav-search-submit nav-sprite']")
search_btn.click()

In [19]:
# applying CPU Type filter to “Intel Core i7” filter by checking the respective box
i7_clk=driver.find_elements(By.XPATH,"//span[@class='a-size-base a-color-base']")
for i in i7_clk:
    if i.text == 'Intel Core i7':   
        i.click() # Checking the checkbox to apply filter on the laptop
        break

In [20]:
# creating empty list to scraping data into them

Title=[]
Rating=[]
Price=[]

# extracting all the tags

titles=driver.find_elements(By.XPATH,"//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
for i in titles:
    Title.append(i.text)
    
titles_rat=driver.find_elements(By.XPATH,"//div[@class='a-row a-size-small']/span")
for i in titles_rat:
    Rating.append(i.get_attribute("aria-label"))
        
titles_Price=driver.find_elements(By.XPATH,"//span[@class='a-price']")
for i in titles_Price:
    Price.append(i.text[1:])

In [21]:
# extratcing ratings from the unorganised rating tag

rating=[]
for i in range(0,len(Rating)):
    if i == 0 or  i/2 == i//2:
        rating.append(Rating[i][0:3])

In [22]:
# creating dataframe for the first 10 laptops data on amazon.com:

amazon =pd.DataFrame({})
amazon['Title']=Title[0:10]
amazon['Rating']=rating[0:10]
amazon['Price']=Price[0:10]

print("The data for the first 10 laptops data on amazon.com:\n")
amazon

The data for the first 10 laptops data on amazon.com:

                                               Title Rating   Price
0  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...    4.6  89,990
1  Hp Pavilion 15 12Th Gen Intel Core I7 16Gb Sdr...    4.0  87,900
2  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....    4.3  86,990
3  Infinix INBook X1 Pro Core i7 10th Gen - (16 G...    4.2  53,999
4  Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...    3.7  82,990
5  HP Envy 11th Gen Intel Evo Core i7 14 inch(35....    4.2  99,400
6  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...    4.3  57,890
7  LG Gram 16 Intel Evo 11th Gen i7 Thin & Light ...    3.7  85,499
8  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...    3.8  86,990
9  Lenovo ThinkBook 13s Intel 11th Gen Core i7 13...    4.0  89,990

# Q.9

In [ ]:
import requests
from bs4 import BeautifulSoup

# Make a GET request to the website
URL = "https://www.azquotes.com/top_quotes"
page = requests.get(URL)

# Parse the HTML content of the page
soup = BeautifulSoup(page.content, "html.parser")

# Find all the quote elements on the page
quote_elements = soup.find_all("div", class_="col-6 col-sm-4 text-center margin-30px-bottom sm-margin-30px-top")

# Initialize a list to store the scraped data
quotes = []

# Loop through each quote element
for quote_element in quote_elements:
    # Extract the quote text
    quote = quote_element.find("a", class_="theme-blue-hover").text.strip()

    # Extract the author name
    author = quote_element.find("a", class_="theme-grey-hover").text.strip()

    # Extract the type of quote
    quote_type = quote_element.find("small", class_="theme-grey").text.strip()

    # Append the scraped data to the quotes list
    quotes.append({"quote": quote, "author": author, "quote_type": quote_type})

# Print the first 10 quotes
for quote in quotes[:10]:
    print(f"{quote['quote']} - {quote['author']} ({quote['quote_type']})")

# Q.10

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Make a GET request to the website
URL = "https://www.jagranjosh.com/general-Knowledge/List-of-all-Prime-Ministers-of-India-142485"
page = requests.get(URL)

# Parse the HTML content of the page
soup = BeautifulSoup(page.content, "html.parser")

# Find the table containing the information
table = soup.find("table")

# Find all the rows in the table
rows = table.find_all("tr")

# Initialize a list to store the scraped data
prime_ministers = []

# Loop through each row in the table
for row in rows[1:]:
    # Find all the cells in the row
    cells = row.find_all("td")

    # Extract the information from the cells
    name = cells[0].text.strip()
    born_dead = cells[1].text.strip()
    term_of_office = cells[2].text.strip()
    remarks = cells[3].text.strip()

    # Append the scraped data to the prime_ministers list
    prime_ministers.append({"Name": name, "Born-Dead": born_dead, "Term of office": term_of_office, "Remarks": remarks})

# Create a Pandas dataframe from the prime_ministers list
df = pd.DataFrame(prime_ministers)

# Display the first 5 rows of the dataframe
print(df.head())